<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <!-- Characters -->
            <div class="characters-container position-relative w-100">
                <!-- Background Location -->
                <div class="characters-background w-100 h-100"></div>
                <!-- Background Layer -->
                <div class="background-layer w-100 h-100"></div>
                <!-- Sidebar Character -->
                <div class="sidebar-character">
                    <ul class="d-flex flex-column p-0">
                        <li class="w-100 d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                            true}" *ngFor="let location of locationTeyvat">
                            <a [routerLink]="[location.locationPath]">{{location.locationName}}</a>
                        </li>
                    </ul>
                </div>
                <!-- Location -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>