// Container
.characters-container {
    height: 800px;
    overflow: hidden;

    // Background Location
    .characters-background {
        background: url(../../../assets/image/characters/background_1.jpg);
        background-position: center;
        background-size: cover;
        animation: scaleBackground 20s linear infinite;
        z-index: 8;
    }

    // Background Layer
    .background-layer {
        position: absolute;
        top: 0;
        left: 0;
        background: url(../../../assets/image/characters/background-layer.png);
        background-size: auto 800px;
        background-position: center bottom;
        z-index: 9;
    }

    // Sidebar Character
    .sidebar-character {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        width: 370px;
        height: 100%;
        box-sizing: border-box;
        padding-top: 190px;

        ul {
            list-style: none;

            li {
                text-shadow: none;
                height: 54px;

                a {
                    display: inline-block;
                    color: #fff;
                    text-decoration: none;
                    font-size: 18px;
                    padding-left: 4.5rem;
                    cursor: pointer;
                }
            }
        }

        .active {
            background: left center no-repeat;
            background-image: url(../../../assets/image/characters/location-active.png);
            background-size: contain;
        }

        ul li:not(.active) {
            background: 18px center no-repeat;
            background-image: url(../../../assets/image/characters/location-inactive.png);
        }
    }

    .sidebar-character::before {
        position: absolute;
        top: 0;
        left: 37px;
        display: block;
        content: '';
        width: 2px;
        height: 100%;
        background: rgba(255, 255, 255, 0.14);
    }

    @keyframes scaleBackground {
        0% {
            transform: scale(1.00);
            height: 800px;
            background: url(../../../assets/image/characters/background_1.jpg);
            background-position: center;
            background-size: cover;
        }

        25% {
            transform: scale(1.05);
            height: 800px;
            background: url(../../../assets/image/characters/background_1.jpg);
            background-position: center;
            background-size: cover;
        }

        50% {
            transform: scale(1.10);
            height: 800px;
            background: url(../../../assets/image/characters/background_2.jpg);
            background-position: center;
            background-size: cover;
        }

        75% {
            transform: scale(1.05);
            height: 800px;
            background: url(../../../assets/image/characters/background_2.jpg);
            background-position: center;
            background-size: cover;
        }
    }
}