<nav class="col-12 d-flex align-items-center justify-content-center justify-content-lg-end ps-xl-4"
    [class.header_change]="header_variable">
    <!-- Music & Brand -->
    <div class="col-12 col-lg-10 col-xxl-2 d-flex align-items-center">
        <div class="col-1 col-lg-2 col-xxl-1 col-xl-1 music text-center" (click)="onPlayAudio()">
            <img [src]="audioService.audioImg" alt="Music">
        </div>
        <div class="col-10 col-lg-3 col-xxl-11 brand d-flex justify-content-center">
            <img src="../../../assets/image/main-navbar/brand.png" alt="Genshin Impact">
        </div>
        <!-- Menu Hamburger -->
        <div class="dropdown position-relative col-1 col-lg-7 col-xl-8 text-center text-lg-end d-xxl-none pe-lg-3">
            <div class="menu-hamburger dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-list"></i>
            </div>
            <ul class="dropdown-menu" id="menu-hamburger" aria-labelledby="dropdownMenuButton1">
                <li *ngFor="let section of sectionTitle"><a class="dropdown-item text-center" href="#">{{ section.title
                        }}</a></li>
                <li><a class="dropdown-item text-center" href="#">Connexion</a></li>
                <li><a class="dropdown-item text-center" href="#">Télécharger</a></li>
            </ul>
        </div>
    </div>
    <!-- Section Title -->
    <div class="section-title col-xxl-7 position-relative d-none d-xxl-flex align-items-center h-100">
        <ul class="d-flex align-items-center mb-0 h-100">
            <li class="h-100 d-flex align-items-center mx-3" *ngFor="let section of sectionTitle">
                <a routerLinkActive="activeTab" [routerLinkActiveOptions]="{exact:
                    true}" [routerLink]="[section.path]"
                    [ngClass]="{'dropdown-toggle': section.title === 'Information'}" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">{{section.title}}
                </a>
                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton2"
                    *ngIf="section.title === 'Information'">
                    <li><a class="dropdown-item w-100 h-100 d-flex align-items-center" href="#">Présentation du jeu</a>
                    </li>
                    <li><a class="dropdown-item w-100 h-100 d-flex align-items-center" href="#">Teyvat</a></li>
                    <li><a class="dropdown-item w-100 h-100 d-flex align-items-center" href="#">Voyages</a></li>
                    <li><a class="dropdown-item w-100 h-100 d-flex align-items-center" href="#">Manga</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Profile -->
    <div class="position-relative h-100 col-xxl-1 profile d-none d-xxl-flex justify-content-end align-items-center me-3"
        (click)="openDialog()">
        <div class="connexion me-3" *ngIf="!(isAuth$|async)">
            <span>{{ abbvrEmail() }}</span>
        </div>
        <div class="connexion connexion-in me-3" *ngIf="(isAuth$|async)">
            <span>{{ abbvrEmail() }}</span>
            <div class="login_dropdown_menu">
                <a [routerLink]="['/main-profile/', (userId$|async)._id]" target="_blank">Mon compte</a>
                <span class="mx-3">|</span>
                <a href="#" (click)="onLogout()">Quitter</a>
            </div>
        </div>
        <div class="avatar">
            <img src="../../../assets/image/main-navbar/avatar.png" alt="Avatar">
        </div>
    </div>
    <!-- Download the Game -->
    <div class="col-lg-2 d-none d-lg-block download text-center">
        <img class="w-100 h-100" src="../../../assets/image/main-navbar/donwload.png" alt="Download">
    </div>
</nav>