// Navbar Container
nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    height: 66px;
    background-color: rgba(17, 17, 17, 0.75);
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.header_change {
    background-color: rgba(17, 17, 17, 0.85);
}

// Music & Brand
.music img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

// Section Title
.section-title ul {
    list-style: none;

    li {
        transition: all 0.3s;
        cursor: pointer;
    }

    a {
        color: #ccc;
        font-size: 14px;
        text-decoration: none;
    }

    a:hover {
        text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
        color: #fff;
    }
}

.activeTab {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: #fff !important;
}

// Dropdown
.section-title ul li:nth-of-type(4):hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 65.3px;
    border-radius: 0;
    background-color: rgba(17, 17, 17, 0.85);

    li {
        width: 214px;
        height: 63px;

        a {
            padding-left: 20px;
            font-size: 15px;
        }
        a:hover {
            background: #343031;
            text-shadow: none;
        }
    }
}

// Profile
.profile {
    cursor: pointer;
}

.profile .connexion span {
    color: #ccc;
    font-size: 14px;
}

.profile .avatar img {
    opacity: 0.6;
}

.profile:hover .connexion span,
.profile:hover .avatar img {
    color: #fff;
    opacity: 1;
}

.connexion-in .login_dropdown_menu {
    display: none;

    a {
        text-decoration: none;
        font-size: 15px;
        color: #ccc;
    }
    a:hover {
        color: #fff;
    }
}
.connexion-in .login_dropdown_menu::before {
    content: '';
    position: absolute;
    left: 0;
    top: -22px;
    width: 100%;
    height: 22px;
    background: transparent;
}
.connexion-in .login_dropdown_menu::after {
    content: '';
    position: absolute;
    right: 12px;
    top: -12px;
    width: 0;
    height: 0;
    border-top: 0;
    border-bottom: 12px solid rgba(0,0,0,0.9);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.profile:hover .connexion-in .login_dropdown_menu {
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    padding: 30px 48px;
    border-radius: 6px;
    background: rgba(0,0,0,0.9);
    transform: translateY(82px);
    transform-origin: top;
    white-space: nowrap;
}



// Download the Game
.download {
    width: 200px;
    height: 66px;
    cursor: pointer;
}

// Menu Hamburger
.menu-hamburger.dropdown-toggle::after {
    display: none;
}
#menu-hamburger.dropdown-menu {
    width: 150px;
    inset: 15.5px 0px auto auto !important;
    right: 0;
    border-radius: 0;
    background-color: rgba(17, 17, 17, 0.85);

    li a {
        color: #fff;
    }

    li a:hover {
            background: #343031;
            text-shadow: none;
    }
}
.bi-list {
    position: relative;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}