<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <!-- Current Events -->
            <div class="event-container w-100">
                <div class="col-12 cards-container d-flex justify-content-center">
                    <div class="col-3 cards mx-1" *ngFor="let event of events">
                        <div class="image-events p-3">
                            <img class="w-100" [src]="event.src" [alt]="event.description">
                        </div>
                        <h3 class="text-white px-3">{{event.description}}</h3>
                        <span class="ps-3">{{event.date}}</span>
                    </div>
                </div>
            </div>
            <!-- Contest & Events -->
            <div class="contest-and-event">
                <div class="section">
                    <ul class="d-flex px-0">
                        <li *ngFor="let section of sectionsTitle"><button class="btn text-center"
                            [ngClass]="{'active': router.url.includes(section.path)}">{{ section.title }}</button></li>
                    </ul>
                </div>
                <ul class="p-0">
                    <router-outlet></router-outlet>
                </ul>
                <!-- Show More -->
                <div class="show-more">
                    <button class="w-100 btn text-white" (click)="onShowMoreEvents()">Afficher plus</button>
                </div>
            </div>
        </div>
    </div>
</div>