// Current Event
.event-container {
    height: 700px;
    background: url(../../../assets/image/current-events/background.jpg);
    background-position: center;
    background-size: cover;

    .cards-container {
        padding-top: 10em;
    }

    .cards-container .cards {
        position: relative;
        height: 450px;
        background-color: rgba(18, 18, 18, 0.8);
        box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 35%);
        border-radius: 4px;
        opacity: 0.9;
        cursor: pointer;

        .image-events img {
            height: 190px;
        }

        h3 {
            font-size: 24px;
            font-weight: normal;
            line-height: 34px;
            color: #fefefe;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            white-space: normal;
        }

        span {
            position: absolute;
            bottom: 1em;
            color: #808080;
        }
    }
}

// Contests & Events
.contest-and-event {
    padding: 6em;
    background-color: #f0f0f0;

    .section {
        ul {
            list-style: none;

            button {
                width: 150px;
                color: #393b40;
                background-color: rgba(57,59,64,0.18);
            }
            button.active,
            button:hover {
                width: 150px;
                color: #f4d8a8;
                background-color: #393b40;
            }
        }
    }

    .section ul li button:not(:nth-of-type(4)) {
        margin-right: 1rem;
    }

    ul {list-style: none;}
}

// Show More
.show-more {
    button {
        background-color: #393b40;
    }

    button:hover {
        background-color: #565961;
    }
}