<div class="container">
    <!-- Login -->
    <div class="row" *ngIf="currentPath === 'Login'">
        <!-- Close -->
        <div class="close text-end">
            <i class="bi bi-x-lg" (click)="onCloseModal()"></i>
        </div>
        <!-- Title -->
        <h3 class="my-3 text-center">Connexion</h3>
        <!-- Form -->
        <form>
            <!-- E-mail -->
            <div class="input-container mb-3">
                <input class="w-100" type="text" placeholder="Identifiant/Addresse e-mail">
            </div>
            <!-- Password -->
            <div class="input-container mb-3">
                <input class="w-100" type="text" placeholder="Mot de passe">
            </div>
            <!-- Submit -->
            <button type="button" class="btn text-center w-100">Connexion</button>
        </form>
        <!-- Options -->
        <div class="options d-flex justify-content-between mt-3">
            <a>Mot de passe oublié ?</a>
            <a (click)="onChangePath('Sign_up')">Créer un compte</a>
        </div>
        <!-- Social Info -->
        <div class="social-info mt-3">
            <p class="text-center mt-4">Vous pouvez aussi utiliser un compte tiers pour vous<br /> connecter.</p>
            <div class="social-lists">
                <ul class="p-0 d-flex justify-content-evenly">
                    <li *ngFor="let social of socialConnexion">
                        <a href="#" target="_self">
                            <img [src]="social.imgSrc" [alt]="social.imgName">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Sign up -->
    <div class="row" *ngIf="currentPath === 'Sign_up'">
        <div class="close text-end">
            <i class="bi bi-x-lg" (click)="onCloseModal()"></i>
        </div>
        <!-- Title -->
        <h3 class="my-3 text-center">Inscription avec une adresse e-mail</h3>
        <!-- Form -->
        <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
            <!-- Email -->
            <div class="email input-container mb-3">
                <input type="email" class="form-control" name="email" autofocus="none" autocomplete="off"
                    placeholder="Addresse e-mail" ngModel required email #email="ngModel">
                <!-- Error -->
                <span *ngIf="email.errors?.['required'] && email.touched" class="text-danger">Please enter a
                    email</span>
                <span *ngIf="email.errors?.['email']" class="text-danger">Please enter a valid email</span>
            </div>
            <!-- Vérif Code -->
            <div class="verif-code input-container mb-3">
                <input class="form-control" name="verif-code" autocomplete="off" type="text"
                    placeholder="Code de vérification" disabled ngModel verif #verif="ngModel">
            </div>
            <!-- Password -->
            <div class="password input-container mb-3">
                <input class="form-control" type="password" name="password" required
                    placeholder="8 à 30 caractères (chiffres et lettres)" ngModel password #password="ngModel"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                <!-- Error -->
                <span *ngIf="password.errors?.['required'] && password.touched" class="text-danger">Please enter a
                    password</span>
                <span *ngIf="password.errors?.['pattern']" class="text-danger">Your password must contain: 1 uppercase
                    letter, 1
                    lowercase letter and 8 characters minimum</span>
            </div>
            <!-- Confirm Password -->
            <div class="confirm-password input-container mb-3">
                <input class="form-control" type="password" name="confirmPassword" required 
                placeholder="Confirmation du mot de passe" ngModel confirmPassword #confirmPassword="ngModel"
                required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                 <!-- Error -->
            <span *ngIf="confirmPassword.errors?.['required'] && confirmPassword.touched" class="text-danger">Please
                confirm
                your password</span>
            <span *ngIf="confirmPassword.touched && confirmPassword.value !== password.value"
                class="text-danger">Password are not the same</span>
            </div>
            <!-- CGU -->
            <div class="cgu mb-4 d-flex align-items-baseline">
                <mat-checkbox class="example-margin me-2" [(ngModel)]="checked" name="termOfUse"
                aria-required="true" ngModel termOfUse #termOfUse="ngModel"></mat-checkbox>
                <span>J'ai lu et j'accepte <a href="#">ACCORD UTILISATEUR</a> & <a href="#">POLITIQUE DE
                CONFIDENTIALITÉ</a></span>
            </div>
            <!-- Submit -->
            <button type="submit" class="btn text-center w-100">S'inscrire</button>
        </form>
        <!-- Social Info -->
        <div class="social-info mt-3">
            <p class="text-center mt-4">Vous pouvez aussi utiliser un compte tiers pour vous<br /> connecter.</p>
            <div class="social-lists">
                <ul class="p-0 d-flex justify-content-evenly">
                    <li *ngFor="let social of socialConnexion">
                        <a href="#" target="_self">
                            <img [src]="social.imgSrc" [alt]="social.imgName">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- to Login -->
        <div class="to-Login text-center">
            <a (click)="onChangePath('Login')">Retour à la page de connexion ></a>
        </div>
    </div>
</div>